// Шрифты
$first-font: "Geometria";
$second-font: "Montserrat";
$third-font: "OpenSans";
$fourth-font: "Brother1816";
$fifth-font: "Raleway";

// Цвета
$blue-color: #0257A6;

// Градиенты

// Размеры

