.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 40px;
  padding-top: 19px;
  background-color: $blue-color;
}

.footer__copyright {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link-site {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .footer__copyright {
    margin-bottom: 0;
  }

  .footer__link-site {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .footer {
    @include page-wrapper;
    padding-top: 27px;
    padding-bottom: 22px;
  }
}
