.partners {
  padding: 25px 20px;
  padding-top: 35px;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__list {
  @include list-reset;
  display: grid;
  grid-column-gap: 29px;
  grid-row-gap: 23px;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 7px;
}

.partners__img {
  width: 63px;
}

@media (min-width: 768px) {
  .partners__list {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 1200px) {
  .partners {
    @include page-wrapper;
    padding-top: 93px;
  }

  .partners__title {
    margin-bottom: 60px;
  }

  .partners__list {
    grid-column-gap: 94px;
    grid-row-gap: 30px;
    padding-left: 0;
  }

  .partners__img {
    width: 87px;
  }
}

@media (min-width: 1920px) {
  .partners {
    position: relative;

    &::before {
      @include pseudo;
      position: absolute;
      top: 175px;
      left: 110px;
      width: 51px;
      height: 180px;
      background-image: url("../../img/beffore__dashed-3.svg");
      transform: scaleX(-1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 325px;
      left: 130px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
    }
  }
}
