.partners {
  padding: 25px 20px;
  padding-top: 35px;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -14px -19.5px;
  padding-left: 7px;
}

.partners__item {
  margin: 12px 19.5px;
}

.partners__img {
  width: 63px;
}

@media (min-width: 1200px) {
  .partners {
    @include page-wrapper;
    padding-top: 93px;

    &--short {
      padding-top: 68px;
    }
  }

  .partners__title {
    margin-bottom: 60px;
  }

  .partners__list {
    margin: -20px 0;
    padding-left: 0;
    column-gap: 93px;
  }

  .partners__item {
    margin: 20px 0;
  }

  .partners__img {
    width: 87px;
  }
}

@media (min-width: 1920px) {
  .partners {
    position: relative;

    &::before {
      @include pseudo;
      position: absolute;
      top: 175px;
      left: 110px;
      width: 51px;
      height: 180px;
      background-image: url("../../img/beffore__dashed-3.svg");
      transform: scaleX(-1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 325px;
      left: 130px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
    }

    &--short::before {
      display: none;
    }
  }
}
