.control {
  display: flex;
  align-items: center;
}

.control__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $blue-color;
  border: none;
  border-radius: 50%;
  appearance: none;

  & svg {
    width: 19px;
    height: 15px;
    fill: #ffffff;
  }

  &--back {
    background-color: #ffffff;
    border: 1px solid #0257a6;


    & svg {
      transform: rotate(180deg);
      fill: $blue-color;
    }
  }

  &--forward {
    margin-left: 7px;
  }
}

@media (min-width: 1200px) {
  .control__button {
    width: 62px;
    height: 62px;

    & svg {
      width: 27px;
      height: 20px;
    }

    &--forward {
      margin-left: 10px;
    }
  }
}
