.consultation {
  display: flex;
  flex-direction: column;
  padding: 31px 23px 34px 25px;
  background-color: #f8fbff;

  &--short {
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #ffffff;
  }
}

.consultation__title {
  width: 90%;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  &::after {
    bottom: 12px;
  }
}

.consultation__text {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 12px;
  line-height: 174.3%;
}

.consultation__button {
  max-width: 217px;
  min-height: 56px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: $third-font, sans-serif;
  text-transform: inherit;
}

.consultation__images {
  order: -1;
  margin-bottom: 30px;
  overflow: hidden;
}

.consultation__list {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .consultation {
    overflow: hidden;
  }

  .consultation__images {
    overflow: initial;
  }
}

@media (min-width: 1200px) {
  .consultation {
    flex-direction: row;
    padding-top: 106px;
    padding-bottom: 100px;
    padding-left: calc(50% - 585px);
  }

  .consultation__box {
    width: 530px;
    min-width: 530px;
    padding-top: 25px;
  }

  .consultation__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;

    &::after {
      bottom: 23px;
    }
  }

  .consultation__text {
    margin-bottom: 36px;
    font-size: 18px;
  }

  .consultation__images {
    order: inherit;
    margin-bottom: 0;
    margin-left: 32px;
  }

  .consultation__list {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  .consultation__button {
    max-width: 253px;
    min-height: 71px;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1920px) {
  .consultation {
    padding-top: 35px;
    padding-bottom: 45px;

    &--short {
      padding-top: 95px;
      padding-bottom: 65px;
    }
  }

  .consultation__box {
    width: 530px;
    min-width: 530px;
    padding-top: 50px;
  }

  .consultation__images {
    margin-left: 75px;
  }
}
