.certificate {
  position: relative;
  padding: 25px 0;
  padding-bottom: 40px;
  overflow: hidden;
}

.certificate__title {
  max-width: 90%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.certificate__list {
  @include list-reset;
  display: flex;
  margin-bottom: 30px;
}

.certificate__item {
  margin: 20px;
}

.certificate__control {
  justify-content: center;
}

@media (min-width: 1200px) {
  .certificate {
    padding-top: 70px;
    padding-bottom: 100px;

    @include page-wrapper;


    &--short {
      padding-bottom: 70px;
    }

    .certificate__item {
      margin: 15px;
    }

    .certificate__title {
      padding: 0;
    }

    .certificate__list {
    }

    &::before {
      @include pseudo;
      position: absolute;
      bottom: 20px;
      left: 102px;
      width: 53px;
      height: 182px;
      background-image: url("../../img/beffore__dashed-1.svg");
    }

    &::after {
      @include pseudo;
      position: absolute;
      top: 300px;
      right: -220px;
      width: 254px;
      height: 114px;
      background-image: url("../../img/beffore__dashed-4.svg");
    }
  }

  .certificate__title {
    margin-bottom: 66px;
  }

  .certificate__item {

  }

  .certificate__control {
    position: absolute;
    top: 70px;
    right: 210px;
  }
}

@media (min-width: 1920px) {
  .certificate {
    padding-top: 87px;
    padding-bottom: 50px;

    &::before {
      display: none;
    }

    &::after {
      top: 136px;
      right: -60px;
    }

    &--short::before {
      @include pseudo;
      bottom: 76px;
      left: 108px;
    }
  }

  .certificate__title {
    margin-bottom: 53px;
  }

  .certificate__control {
    top: 87px;
    right: 368px;
  }
}
