@import "./button/button";
@import "./tabs/tabs";
@import "./visually-hidden/visually-hidden.scss";
@import "./page/page.scss";
@import "./header/header.scss";
@import "./nav/nav.scss";
@import "./burger/burger.scss";
@import "./logo/logo.scss";
@import "./title/title.scss";
@import "./promo/promo.scss";
@import "./about-us/about-us.scss";
@import "./mission/mission.scss";
@import "./advantages/advantages.scss";
@import "./provide/provide.scss";
@import "./control/control.scss";
