@import "./button/button";
@import "./tabs/tabs";
@import "./visually-hidden/visually-hidden.scss";
@import "./page/page.scss";
@import "./header/header.scss";
@import "./nav/nav.scss";
@import "./burger/burger.scss";
@import "./logo/logo.scss";
@import "./title/title.scss";
@import "./promo/promo.scss";
@import "./about-us/about-us.scss";
@import "./mission/mission.scss";
@import "./advantages/advantages.scss";
@import "./provide/provide.scss";
@import "./control/control.scss";
@import "./more/more.scss";
@import "./why/why.scss";
@import "./stages/stages.scss";
@import "./team/team.scss";
@import "./partners/partners.scss";
@import "./certificate/certificate.scss";
@import "./company-card/company-card.scss";
@import "./news/news.scss";
@import "./map/map.scss";
@import "./consultation/consultation.scss";
@import "./list-img/list-img.scss";
@import "./contacts/contacts.scss";
@import "./security/security.scss";
@import "./footer/footer.scss";
