.about-us {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 45px;
}

.about-us__title {
  margin-bottom: 20px;

  &::after {
    background-color: #6697C5;
  }
}

.about-us__text {
  margin-bottom: 20px;
  padding-right: 2px;
  font-weight: 300;
  font-size: 14px;
  line-height: 173.3%;
}

.about-us__logo {
  & svg {
    width: 171px;
    height: 32px;
    fill: #858585;
  }
}

.about-us__image {
  position: relative;
  order: -1;
  margin: 0 -5px;
  margin-bottom: 22px;
  line-height: 0;
  border-radius: 10px;

  &::before {
    @include pseudo;
    position: absolute;
    top: -9px;
    right: -9px;
    z-index: -1;
    width: 60px;
    height: 98px;
    background-image: url("../../img/about__before.svg");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .about-us {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-us__box {
    width: 55%;
    min-width: 55%;
  }

  .about-us__image {
    order: inherit;
    margin: 0;
    margin-left: 30px;

    &::before {
      top: inherit;
      bottom: -25px;
      left: -15px;
      width: 740px;
      height: 468px;
      background-image: url("../../img/about__before@tablet.svg");
    }
  }
}

@media (min-width: 1200px) {
  .about-us {
    @include page-wrapper;
  }

  .about-us__box {
    width: 646px;
    min-width: 646px;
    padding-top: 20px;
  }

  .about-us__title {
    margin-bottom: 50px;
  }

  .about-us__text {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 178.3%;
  }

  .about-us__logo {
    & svg {
      width: 245px;
      height: 46px;
    }
  }

  .about-us__image {
    min-width: 698px;
    margin-left: 90px;

    &::before {
      top: -24px;
      right: -24px;
      left: inherit;
      width: 105px;
      height: 171px;
      background-image: url("../../img/about__before.svg");
    }
  }
}
