.burger {
  position: relative;
  width: 20px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  appearance: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 1.3px;
    background-color: #ffffff;
    border-radius: 29px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    & .burger__inner {
      display: none;
    }

    &::before,
    &::after {
      top: 50%;
      background-color: #b3b3b3;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.burger__inner {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 1.3px;
  background-color: #ffffff;
  border-radius: 29px;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .burger {
    width: 30px;
    height: 26px;

    &::before,
    &::after {
      width: 30px;
    }
  }

  .burger__inner {
    width: 25px;
  }
}
