.header {
  position: absolute;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;

  &--trans {
    background-color: transparent;
  }

  &--active {
    background-color: #ffffff;
  }

  &--active .header__logo svg {
    fill: $blue-color;
  }
}

.header__logo {
  & svg {
    width: 160px;
    height: 30px;
    fill: #ffffff;
  }
}

@media (max-width: 1199px) {
  .header__nav {
    transition: all 0.3s;

    &--close {
      position: absolute;
      transform: translateY(-1000px);
    }

    &--active {
      position: absolute;
      left: 0;
      z-index: 9999;
      display: block;
      width: 100%;
      transform: translateY(232px);
    }
  }
}

@media (min-width: 1200px) {
  .header {
    @include page-wrapper;
    display: flex;
    align-items: center;
    padding-top: 35px;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    position: static;
    display: flex;
    align-items: center;
    transform: inherit;
  }

  .header__logo {
    & svg {
      width: 247px;
      height: 46px;
    }
  }
}
